# Python Basic Tutorial

In [3]:
#Print in Python

In [4]:
print('Sigle Quotes')

Sigle Quotes

In [5]:
print("Double Quotes")

Double Quotes

In [7]:
print("You can do this",'too')

You can do this too

In [8]:
#Maths Basic with Python

In [9]:
1+3

4

In [10]:
4*6

24

In [11]:
10/4

2.5

In [12]:
12//4

3

In [13]:
12%5

2

In [14]:
exampleVar = 33

In [15]:
print(exampleVar)

33

In [16]:
canDo = 'Hey!'

In [17]:
print(canDo)

Hey!

Python has 5 standard data types:

Numbers
String
List
Tuple
Dictionary

In [18]:
str = "Hello World"

In [19]:
print(str)

Hello World

In [20]:
str[0] #print first character

'H'

In [21]:
str[2:5] #slicing 2nd to 4th index

'llo'

In [22]:
str[3:] #slicing 3rd index till end

'lo World'

In [24]:
print(str *2) #printing the string twice

Hello WorldHello World

In [25]:
test = " To Python"
print(str+test) #concatination of two strings

Hello World To Python

In [26]:
#List of Keywords in Python
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# There are two types of loop in Python
#For Loop 
#While Loop

# Let's Start with While Loop

In [36]:
condition = 1
while condition < 10:
    print(condition)
    condition+=1
print(condition)

1
2
3
4
5
6
7
8
9
10

In [38]:
i=0
while i < 5:
    print(i)
    i = i+1

0
1
2
3
4

In [39]:
#Now lets see for loop

In [42]:
exlist=[1,3,5,2,7,3,9,4,3,7,8]
for x in exlist:
    print(x)

1
3
5
2
7
3
9
4
3
7
8

In [43]:
for x in range(1,20):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [51]:
#let's try printing out table of 9
table = 9
start = 1
end = 10
print('-'*20)
print(" "*5,"9's Table")
print('-'*20)
i = start
while i <= end:
    result = i*table
    print(" "*5,i,"*",table,"=",result)
    i=i+1

--------------------
      9's Table
--------------------
      1 * 9 = 9
      2 * 9 = 18
      3 * 9 = 27
      4 * 9 = 36
      5 * 9 = 45
      6 * 9 = 54
      7 * 9 = 63
      8 * 9 = 72
      9 * 9 = 81
      10 * 9 = 90

# Operations with string

In [53]:
word = "Welcome To Python"

In [54]:
len(word) #length of the string

17

In [56]:
print(word.count('o')) #occurance of 'o' in the string

3

In [57]:
print(word.find('P')) #index of letter P

11

In [58]:
print(word.count(' ')) #number of spaces in the string

2

# Slicing of the string

In [60]:
word

'Welcome To Python'

In [62]:
word[3:] #3rd index till end

'come To Python'

In [63]:
word[0:7] #0th index till 7th

'Welcome'

In [64]:
word[:-6] #from starting till index last-6

'Welcome To '

In [66]:
word[-6:] #from -6th index till end

'Python'

In [70]:
word.split() #spliting the string into list

['Welcome', 'To', 'Python']

In [72]:
#Conditional operation on string
word.startswith('P')

False

In [73]:
word.startswith('W')

True

In [74]:
word.endswith('n')

True

In [75]:
#Changing to upper case
word.upper()

'WELCOME TO PYTHON'

In [77]:
word.lower()

'welcome to python'

In [78]:
word.swapcase() #swapping upper to lower and vice versa

'wELCOME tO pYTHON'

In [79]:
word.isalnum() #check for alpha numeric

False

In [80]:
word.isalpha() #check for all alphabetic or not

False

In [81]:
testing="Hello"
testing.isalpha()

True

In [82]:
word.isspace() #check for all spaces or not

False

In [83]:
testing2="   "
testing2.isspace()

True

In [96]:
#Print formatting is a way of printing using a particular format
x = 'apples'
y = 'lemons'
z="I have %s and %s"%(x,y)

In [97]:
print(z)

I have apples and lemons

In [99]:
name = 'John'
age = 23
print("His name is {} , he is {} years old".format(name,age))

His name is John , he is 23 years old

In [101]:
print("His name is {} , he is {} years old".format(name,age))

His name is John , he is 23 years old

# Conditional operation in Python (if - elif - else )

In [106]:
x = 5
y= 12
if x > y:
    print(y)
elif (x == y):
    print('equal')
else:
    print(x)

5

In [108]:
fact = 2
num = 12
if num % fact == 0:
    print("Even")
else:
    print("Odd")

Even

# Functions in Python

In [110]:
#Function with no parameters
def example():
    print("This is an example function")
    z = 2+3
    print(z)

In [111]:
#calling thr function example
example()

This is an example function
5

In [113]:
#Function with parameters
def addition(a,b):
    sum = a + b
    print(sum)

In [114]:
#calling the function addition
addition(9,1)

10

# Global And Local Variable

In [116]:
x = 10 # Globally declared
def example():
    x=0 #Locally declared
    print ("The value of x in the function locally is",x)

example()

print("The value of x in the function globally is",x)

The value of x in the function locally is 0
The value of x in the function globally is 10

# File Handling in Python

In [117]:
saveFile =open('demofile.txt','w')

In [118]:
saveFile.write("This is the first line.")

23

In [119]:
saveFile.close()

In [120]:
readMe = open('demofile.txt','r')

In [122]:
print(readMe.read())

This is the first line.

In [123]:
readMe.close()

In [124]:
appendFile=open('demofile.txt','a')

In [125]:
appendFile.write("\n This is the next line.")

24

In [126]:
appendFile.close()

In [127]:
readMe=open('demofile.txt','r')

In [128]:
print(readMe.read())

This is the first line.
 This is the next line.

In [129]:
readMe.close()

# Classes in Python

In [130]:
class calculator:
    
    def add(x,y):
        print(x+y)
        
    def sub(x,y):
        if x>y:
            print(x-y)
        else:
            print(y-x)
    
    def mult(x,y):
        print(x*y)
        
    def div(x,y):
        print(x/y)

In [131]:
calculator.add(2,3)

5

In [132]:
calculator.add(23.54,5524.5)

5548.04

In [133]:
calculator.sub(123,2)

121

# User Input in Python

In [136]:
x = input('What is your Name ?')

What is your Name ? John

In [137]:
print(x)

 John

In [140]:
y = int(input('What is your Lucky Number ?'))

What is your Lucky Number ?13

In [141]:
y

13

# Importing modules in Python

In [142]:
import statistics as st

In [144]:
exlist

[1, 3, 5, 2, 7, 3, 9, 4, 3, 7, 8]

In [145]:
st.mean(exlist)

4.7272727272727275

In [146]:
st.median(exlist)

4

In [147]:
st.mode(exlist)

3

In [148]:
st.stdev(exlist)

2.6491851234260353

# Lists in Python

In [149]:
L = ['Red','Yellow','Green','Blue']

In [150]:
L

['Red', 'Yellow', 'Green', 'Blue']

In [151]:
exlist

[1, 3, 5, 2, 7, 3, 9, 4, 3, 7, 8]

In [152]:
exlist.append(12)

In [153]:
exlist

[1, 3, 5, 2, 7, 3, 9, 4, 3, 7, 8, 12]

In [154]:
exlist.pop()

12

In [157]:
exlist.count(3) # counts the occurance of 3 in the list

3

In [163]:
exlist.insert(2,35) #insert before index 2

In [165]:
exlist

[1, 3, 35, 35, 5, 2, 7, 3, 9, 4, 3, 7, 8, 35]

In [168]:
exlist.sort()

In [170]:
exlist

[1, 2, 3, 3, 3, 4, 5, 7, 7, 8, 9, 35, 35, 35]

In [171]:
exlist.reverse()

In [172]:
exlist

[35, 35, 35, 9, 8, 7, 7, 5, 4, 3, 3, 3, 2, 1]

In [194]:
L

['Blue', 'Red', 'Green', 'Yellow', 'Red']

In [195]:
#Slicing and Indexing of the list
L[0]

'Blue'

In [196]:
L[0:2]

['Blue', 'Red']

In [197]:
L[-1]

'Red'

In [198]:
L[1:-1]

['Red', 'Green', 'Yellow']

In [199]:
sorted(L)

['Blue', 'Green', 'Red', 'Red', 'Yellow']

In [200]:
L.append('Pink')

In [201]:
L

['Blue', 'Red', 'Green', 'Yellow', 'Red', 'Pink']

In [202]:
L.pop()

'Pink'

In [203]:
L.reverse()

In [204]:
L

['Red', 'Yellow', 'Green', 'Red', 'Blue']

In [205]:
L.insert(1,'Red')

In [206]:
L

['Red', 'Red', 'Yellow', 'Green', 'Red', 'Blue']

In [207]:
L.count('Red')

3

In [186]:
list = ['abcd',786,2.23,'john',7.02]

list

tinylist = [123,'john']

print(list)

print(list[0])

list[1:3]

list[2:]

print (tinylist*2)

print (list+tinylist)

['abcd', 786, 2.23, 'john', 7.02]
abcd
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 7.02, 123, 'john']

# Tuples in Python

In [187]:
tuple = ('abcd',786,2.23,'john',70.2)

tinytuple = (123,'john')

tuple

tuple[0]

tuple[1:3]

tuple[2:]

print (tinytuple*2)


print (tuple+tinytuple)

(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [193]:
tup1= ('physics','chemsitry',1997,2000)

tup1

tup1[1]

tup1[1:3]

#tup1[1]=100

tup2=tup1*2

tup3=tup1 + tup2


del tup1


tup2[3]

tup2[2:5]

tup2[-4:5]

tup2

('physics', 'chemsitry', 1997, 2000, 'physics', 'chemsitry', 1997, 2000)

# Dictionary in Python

In [188]:
tinydicy = {'name' : 'John', 'code' : 123, 'dept':'sales'}

tinydicy

print (tinydicy.keys())

print(tinydicy.values())

dict_keys(['name', 'code', 'dept'])
dict_values(['John', 123, 'sales'])

In [189]:
dict ={'name':'Zara','Age':7,'Class':'First'}

dict

print("dict[name]:",dict['name'])

print("dict[age]:",dict['Age'])

dict['school'] = 'DPS'

dict

dict[name]: Zara
dict[age]: 7

{'name': 'Zara', 'Age': 7, 'Class': 'First', 'school': 'DPS'}